body {
  font-family: sans-serif;
  width: 1200px;
  max-width: 98%;
  margin: 0 auto 0 auto;
}

#title {
  text-align: center;
  max-width: calc(100vw - 4rem);
}

#minus-button {
  display: none;
}

#selection-options-menu {
  flex-wrap: wrap;
  justify-content: space-around;
}

#selection-options-menu button{
  height: 2rem;
  margin-bottom: 1rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

#plus-button, #minus-button {
  height: 3rem;
  width: 3rem;
  background-color: #ccc;
  color: #444;
  font-size: 2rem;
  font-weight: bolder;
  border: none;
  border-radius: .2rem;
  position: fixed;
  top: 1rem;
  right: calc(max(0px, calc(calc(100vw - 1200px) / 2)) + .5rem);
}

#resultsTable {
  width: 100%;
  min-width: 500px;
  border-spacing: 0;
  padding: 2px;
}

#resultsTable tr{
  height: 2rem;
}

#resultsTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#themeTH {
  text-align: left;
}

#results {
  overflow-x: scroll;
}

td, th {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
}
